body {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
}

/* The box that holds the character */
#game-box {
  position: relative;
  width: 2560px;
  height: 1440px;
  background-color: #ddd;
  border: 4px solid #333;
  overflow: hidden;
}

/* The character (a square) */
#character {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: royalblue;
  top: 500px;
  left: -100px;
  transition: top 0.05s, left 0.05s;
}