.main-content {
  padding: 20px;  
  background-color: rgb(30, 33, 36);  
}

.title-text {
  margin-bottom: 10px;
}

.info-text {
  margin-bottom: 20px;
}

.description {
  margin-bottom: 15px;
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.project-item {
  background-color: rgb(50, 53, 56);
  padding: 15px;
  border-radius: 10px;
}