.main-content {
  padding: 20px;  
  background-color: rgb(30, 33, 36);  
}

.title-text {
  margin-bottom: 10px;
}

.info-text {
  margin-bottom: 20px;
}

.description {
  margin-bottom: 15px;
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.project-item {
  background-color: rgb(50, 53, 56);
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.project-tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(70, 73, 76);
  bottom: 0;
}

.tag {
  flex: initial;
  border: 1px solid #999999;
  border-radius: 3px;
  padding: 1px 5px;
}