#main-content {
  margin-left: 650px;
  margin-top: 40px;
  margin-right: 400px;
  padding: 20px;  
  background-color: rgb(30, 33, 36);  
}

#title-text {
  color: white;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
}

#info-text {
  color: white;
  font-size: 20px;
  margin-bottom: 20px;
}

#projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.project-item {
  background-color: rgb(50, 53, 56);
  padding: 15px;
  border-radius: 10px;
  color: white;
}