body {
  margin: 0;
  background-color: green;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

@media screen and (max-width: 1760px) {
  .center-bar {
    width: 100%;
  }

  .left-bar {
    height: 100%;
    flex: 0;
    background-color: rgb(30, 33, 36);
  }

  .right-bar {
    height: 100%;
    flex: 0;
    background-color: rgb(30, 33, 36);
  }
}

@media screen and (min-width: 1761px) {
  .center-bar {
    width: 1760px;
  }

  .left-bar {
    flex: 1;
    width: 0;
    height: 100%;
    background-color: rgb(30, 33, 36);
    border-right: 1px solid #444;
  }

  .right-bar {
    flex: 1;
    width: 0;
    height: 100%;
    background-color: rgb(30, 33, 36);
    border-left: 1px solid #444;
  }
}

.center-bar {
  display: flex;
  flex-direction: column;
} 

.below-header {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.main-content {
  flex: 1;
}

.page-selector {
  display: flex;              /* Use flexbox layout */
  justify-content: space-between; /* Push buttons to opposite sides */
  margin-top: 20px;           /* Optional spacing from text above */
  width: 100%;                /* Full width of container */
}