body {
  margin: 0;
  font-family: Arial, sans-serif;
}

#intro {
  background-color: rgb(9, 7, 19);
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#intro-picture img {
  width: 300px;
  height: auto;
}

#projects-title-container {
  background-color: rgb(9, 7, 19);
  padding: 20px 0 0 0;
}

#projects-title {
  text-align: center;
  margin: 40px 0 0 0;
  height : 200px;
  font-size: 2em;
  border-top-left-radius: 75% 50%;
  border-top-right-radius: 75% 50%;
  background-color: white;
}

#projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 20px;
  column-gap: 20px;
}

#project {
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 600px;

}
