body {
  margin: 0;
  font-family: 'Roboto', Arial;
  color: white;
  background-color: rgb(25, 28, 30);
}

.header i:hover {
  color: rgb(199, 199, 199);
}

.button-container-home,
.button-container,
.sidebar-note {
  font-size: 30px;
  font-weight: 700;
}

.icon-button {
  font-size: 35px;
  color: white;
}

.resume-button {
  font-size: 30px;
  color: white;
}

.resume-button:hover {
  color: rgb(199, 199, 199);
}

.sidebar-section {
  font-size: 20px;
}

.title-text {
  font-size: 50px;
  font-weight: 700;
}

.info-text {
  font-size: 30px;
  font-weight: 600;
  color: rgb(180, 180, 180);
}

.description {
  font-size: 20px;
}

.project-title {
  font-size: 25px;
  font-weight: 600;
  margin: 0;
}

.project-description {
  margin-top: 10px;
  font-size: 16px;
}

.project-tags {
  margin-top: 10px;
  font-size: 20px;
}

li {
  margin-left: 30px;
}

.project-back-button,
.next-page,
.prev-page {
  font-size: 20px;
  cursor: pointer;
  color: rgb(198, 198, 198);
}

.github-link {
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: rgb(160, 62, 160);
}

.skill-category,
.degree {
  font-size: 30px;
  font-weight: 600;
  margin-top: 20px;
}

.skill-item {
  display: inline-block;
  font-size: 18px;
  margin-right: 10px;
  margin-top: 10px;
  border: 1px solid rgb(100, 100, 100);
  padding: 5px 10px;
  border-radius: 5px;
}

.university {
  font-size: 25px;
  font-weight: 500;
}

.graduation {
  font-size: 20px;
  font-style: italic;
  color: rgb(200, 200, 200);
}

.next-page,
.prev-page {
  display: inline-block;
}

.next-page {
  right: 0;
}