body {
  margin: 0;
  font-family: 'Roboto', Arial;
  color: white;
  background-color: rgb(25, 28, 30);
}

.header i:hover {
  color: rgb(199, 199, 199);
}

.button-container-home,
.button-container,
.sidebar-note {
  font-size: 30px;
  font-weight: 700;
}

.icon-button {
  font-size: 35px;
  color: white;
}

.sidebar-section {
  font-size: 20px;
}

.title-text {
  font-size: 50px;
  font-weight: 700;
}

.info-text {
  font-size: 30px;
  font-weight: 600;
  color: rgb(180, 180, 180);
}

.description {
  font-size: 20px;
}

.project-title {
  font-size: 25px;
  font-weight: 600;
  margin: 0;
}

.project-description {
  margin-top: 10px;
  font-size: 16px;
}

.project-tags {
  margin-top: 10px;
  font-size: 20px;
}

li {
  margin-left: 30px;
}

.project-back-button {
  font-size: 20px;
  cursor: pointer;
  color: rgb(100, 100, 100);
}

.github-link {
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: rgb(160, 62, 160);
}